.button {
  width: 220px;
  height: 50px;
  border-radius: 30px;
  border: none;
  color: var(--secondary-text-color);
  font-family: var(--font);
  font-weight: 700;
  font-size: var(--normal-font-size);
  background-color: transparent;
  letter-spacing: var(--letter-spacing);
  cursor: pointer;
}

.button--static {
  border: var(--secondary-color) solid 2px;
}

.button--static:hover {
  background-color: var(--secondary-color);
}

.button--active {
  background-color: var(--button-primary-pressed);
}

.button--disabled {
  background-color: var(--button-primary);
  opacity: 0.4;
}

.button--secondary {
  color: var(--secondary-text-color);
}

.button--secondary--static {
  border: var(--button-secondary) solid 2px;
  color: var(--text-color);
}

.button--secondary--static:hover {
  background-color: var(--button-secondary);
  color: var(--secondary-text-color);
}

.button--secondary--active {
  background-color: var(--button-secondary-pressed);
}

.button--secondary--disabled {
  background-color: var(--button-secondary);
  opacity: 0.4;
}
