:root {
  --primary-color: #201f1f;
  --secondary-color: #d2231f;
  --tertiary-color:#0d0e36;
  --main-bg-color: #fffffd;
  --secondary-bg-color: #f0ecec;
  --tertiary-bg-color:#555;
  --title-color: whitesmoke;
  --text-color: #141414;
  --secondary-text-color: white;
  --button-primary: #ffe21d;
  --button-primary-pressed: #ffd21d;
  --button-secondary: #16317a;
  --button-secondary-pressed: #248bff;
  --input-static: #ffffff;
  --input-active: #1f22ac;;
  --input-error-text: #f26c6c;
  --input-success-text: #27b667;
  --input-warning-text: #f8992c;
  --input-error: #e9cccc;
  --input-success: #b6dbc8;
  --input-warning: #fbe7ae;
  --placeholder-color: #5d5d5d;

  --small-font-size: 10px;
  --normal-font-size: 14px;
  --medium-font-size: 18px;
  --big-font-size: 45px;
  --bigger-font-size: 65px;

  --margin-default: 16px;
  --padding-default: 28px;
  --padding-navbar: 45px;
  --padding-smaller:20px;
  --margin-sections: 45px;
  --letter-spacing: 1.3px;

  --font: "Montserrat", sans-serif;
}
