:root {
  --main-bg-color: #fffffd;
  --secondary-bg-color: #f0ecec;
  --title-color:#f8f8f8;;
  --text-color: #141414;
  --secondary-text-color: #FFFFFF;
  --button-primary: #ffe21d;
  --button-primary-pressed: #ffd21d;
  --button-secondary: #24afff;
  --button-secondary-pressed: #248bff;
  --input-static: #ffffff;
  --input-active: #158ed4;
  --input-error-text: #f26c6c;
  --input-success-text: #27b667;
  --input-warning-text: #f8992c;
  --input-error: #e9cccc;
  --input-success: #b6dbc8;
  --input-warning: #fbe7ae;
  --placeholder-color: #5d5d5d;

  --small-font-size: 10px;
  --normal-font-size: 14px;
  --medium-font-size: 24px;
  --big-font-size: 40px;

  --margin-default: 16px;
  --padding-default: 16px;
  --letter-spacing: 1.3px;

  --font: "Montserrat", sans-serif;
}
